<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>

    <div class="menu">
        <div class="file active-menu">File</div>
        <div class="home">Home</div>
    </div>

    <div class="menu-options">
        <div class="file-menu-options active">
            <div class="new">New</div>
            <div class="open">Open</div>
            <div class="save">Save</div>
        </div>
        <div class="home-menu-options">
            <div class="one">
                <select name="" id="font-select">
                    <option value="">A</option>
                    <option value="">B</option>
                    <option value="">C</option>
                    <option value="">D</option>
                </select>
                <div class="font-styling">
                    <button id="bold">B</button>
                    <button id="underline">U</button>
                    <button id="italic">I</button>
                </div>
            </div>
            <div class="two">
                <select name="" id="font-size">
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                </select>
                <div class="cell-color">
                    <input type="color" name="" id="cell-font">
                    <input type="color" name="" id="cell-background">
                </div>
            </div>
            <div class="three">
                <button id="left">L</button>
                <button id="centre">C</button>
                <button id="right">R</button>
            </div>
        </div>
    </div>

    <div class="formula-input">
        <input type="text" id="address" disabled>
        <input type="text" id="formula">
    </div>

    <div class="content">
        <!-- top left cell -->
        <div class="top-left-cell"></div>
        <!-- top row -->
        <div class="top-row">
            <%for(let j=0 ; j<26 ; j++) {%>
                <div class="top-row-cell" cellId = "<%= j%>"><%= String.fromCharCode(65+j)%></div>
            <%}%>
        </div>
        <!-- left column -->
        <div class="left-col">
            <%for(let j=0 ; j<100 ; j++) {%>
                <div class="left-col-cell" cellId = "<%= j%>"><%= j+1%></div>
            <%}%>
        </div>
        <div class="cells">
            <% for(let i=0 ; i<100 ; i++){%>
                <div class="row">
                    <%for(let j=0 ; j<26 ; j++) {%>
                        <div class="cell" contenteditable="true" rid = <%=i%>  cid = "<%= j%>"></div>
                    <%}%>
                </div>
            <%}%>
        </div>
    </div>

    
    <div class="sheets">
        <div class="sheet-list">
            <div class="sheet active-sheet" sid ="0">Sheet 1</div>
            
        </div>
        <div class="add-sheet">+</div>
    </div>
    <script src="./script.js"></script>
</body>
</html>