<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>

    <div class="menu">Menu</div>

    <div class="menu-options">Menu-options</div>

    <div class="formula-input">
        <input type="text" id="address" disabled>
        <input type="text" id="formula">
    </div>

    <div class="content">
        <!-- top left cell -->
        <div class="top-left-cell"></div>
        <!-- top row -->
        <div class="top-row">
            <%for(let j=0 ; j<26 ; j++) {%>
                <div class="top-row-cell" cellId = "<%= j%>"><%= String.fromCharCode(65+j)%></div>
            <%}%>
        </div>
        <!-- left column -->
        <div class="left-col">
            <%for(let j=0 ; j<100 ; j++) {%>
                <div class="left-col-cell" cellId = "<%= j%>"><%= j+1%></div>
            <%}%>
        </div>
        <div class="cells">
            <% for(let i=0 ; i<100 ; i++){%>
                <div class="row">
                    <%for(let j=0 ; j<26 ; j++) {%>
                        <div class="cell" contenteditable="true" rid = <%=i%>  cid = "<%= j%>"></div>
                    <%}%>
                </div>
            <%}%>
        </div>
    </div>

    
    <div class="sheets">Sheets</div>


    <script src="./script.js"></script>
</body>
</html>